<!--
    1 Access the necessary information and display multiple albums: ngRepeat-iterates through a collection (albums array we created to 
      hold copies of albumPicasso). The "album in collection.albums" part of the code is what allows us to access the data from a single item in the collection.  
-->

<section class="album-covers container clearfix">
    <div class="collection-album-container column fourth" ng-repeat="album in collection.albums">
        <img src="{{ album.albumArtUrl }}">
        <div class="collection-album-info caption">
            <p>
                <a class="album-name" ui-sref="album">{{ album.title }}</a>
                <br/>
                <a ui-sref="album">{{ album.artist }}</a>
                <br/>
                {{ album.songs.length }} songs
                <br/>
            </p>
        </div>
    </div>
</section>

